body { background-image: url(background.jpg) ;
background-repeat:repeat-x;
    height:100px;
    float:left;
    padding:0;
    margin:0;
text-align: center;}
ul {list-style-type: none;}
header {background: linear-gradient(to right, #235694, white);
        height:100px;
        width: 1690px;
        float: right
        font-family: Verndad ;
        color: #FFFFFF }
nav { text-align: left;}
nav a { text-decoration: none;
       padding: 20px;
       display: block;
       background-color: #B3C7E6;
       border-bottom: 1px solid #FFFFFF; 
}
nav a:link       { color: #FFFFFF; }
nav a:visited { color: #EAEAEA; }
nav a:hover     { color: #869DC7;
               background-color: #EAEAEA; }
footer {text-align: center}
